/Debug/*
/Release/*
/Debug/
/Release/
/Test/
/Stm32Debug/
/out/*
/testout/*
/tools/elf2uf2
/tools/pioasm
/tools/pioasm_src/gen/*
/Inc/gen/*.h
/Doc/gen/*
/Doc/.idea
/Tests/piRegulatorTest
/Tests/piregulator.txt
/Tests/audioTest
/Tests/audioout.txt
/Tests/processThroughFxProgram
/Tests/generateUnitPulseWav
/Tests/pipicouitest
/Tests/decimaltostringtest
/Tests/compressorTest
/Tests/audiosamples/*_proc*
/Tests/audiosamples/unitPulse.wav
/Tests/libs/*.bmp
/Tests/libs/bmplib
/Src/common/fatLib
/tools/fattestsmall.img
**/.idea
/.vscode/*.log
/schematics/guitarpreamp/guitarpreamp-backups/*
/schematics/guitarpreamp/*.gbr*
/schematics/guitarpreamp/*.drl
/schematics/guitarpreamp/guitarpreamp
/schematics/guitarpreamp/fp-info-cache
/schematics/guitarpreamp/sym-lib-table
/schematics/guitarpreamp/*.zip
/schematics/guitarpreamp/*.xml
/schematics/guitarpreamp/report.txt
