/Debug/*
/Release/*
/Debug/
/Release/
/Test/
/Stm32Debug/
/out/*
/testout/*
/tools/elf2uf2
/tools/pioasm
/tools/pioasm_src/gen/*
/tools/*.c
/Inc/gen/*.h
/Doc/gen/*
/Doc/.idea
/Tests/piregulator.txt
/Tests/audioTest
/Tests/audioout.txt
/Tests/*.log
/Tests/audiosamples/*_proc*
/Tests/audiosamples/unitPulse.wav
/Tests/libs/*.bmp
/Tests/*.bmp
/Tests/libs/bmplib
/Src/common/fatLib
/tools/fattestsmall.img
**/.idea
/.vscode/*.log
/schematics/guitarpreamp/report.txt
/schematics/guitarpreamp_sim/guitarpreamp_sim-backups/*
/schematics/guitarpreamp_sim/TL072.301

