/Debug/*
/Release/*
/Debug/
/Release/
/Test/
/Stm32Debug/
/out/*
/testout/*
/tools/elf2uf2
/tools/pioasm
/tools/pioasm_src/gen/*
/Inc/gen/*.h
/Doc/gen/*
/Doc/.idea
/Doc/audio/__pycache__/*
/Tests/piRegulatorTest
/Tests/piregulator.txt
/Tests/audioTest
/Tests/audioout.txt
/Tests/processThroughFxProgram
/Tests/pipicouitest
/Tests/compressorTest
/Tests/decimaltostringtest
/Tests/audiosamples/*_proc*
/Tests/libs/*.bmp
/Tests/libs/bmplib
/Src/common/fatLib
/tools/fattestsmall.img
**/.idea
/.vscode/*.log
/.vscode/.*.json
/schematics/guitarpreamp/*.gbr*
/schematics/guitarpreamp/*.drl
/schematics/guitarpreamp/*.xml
/schematics/guitarpreamp/*.zip
/schematics/guitarpreamp/guitarpreamp-backups/*
/schematics/guitarpreamp/report.txt
/schematics/guitarpreamp/guitarpreamp
/schematics/guitarpreamp/sym-lib-table
