
div, select,option,input {
font-family: 'Courier New', Courier, monospace;
font-size: 14px;
color: #1e404f;
}

select {
    background-color: #e9bd96;
    border-radius: 4px;
    scrollbar-width: thin;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 4px;
}
tr {
    height: fit-content;
}

td {
    vertical-align: top;
    height: fit-content;
    margin-bottom: 0px;
}

table {
    border-spacing: 0px;
}

label {
    background-color: #e9bd96;
}

.editor-title {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    text-align: center;
    font-size: 48px;
    padding: 10px;
    color: #1e404f;
}	

.editor-toppanel {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    align-items: end;
    justify-content: right;
}

.editor-panel {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    align-items: end;
    justify-content:space-between;
}

.editor-textfield {
    min-width: 64px;
    width: auto;
    padding: 4px;
    background-color: #e9bd96;

    border-radius: 4px;
    text-align: start;
    height: 25px;
}

.editor-input {
    min-width: 164px;
    width: auto;
    padding: 4px;
    background-color: #e9bd96;

    border-radius: 4px;
    text-align: start;
    height: 25px;
}

div .editor-vertical {
    text-align: left;
    padding: 4px;
}


div .editor-vertical-flex {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4px;
    height: 100%;
}

.editor-effectparam {
    width: 100%;
}

.editor-paramvalue {
    padding-left: 12px;
    font-weight: 800;
    font-size: 17px;
}

.editor-bankcontent {
    min-width: 180px;
}

.editor-filler {
    flex-grow: 1;
}

.editor-filler-vertical {
    flex-grow: 1;
}
div .editor-horizontal {
    align-items: center;
    justify-content: left;
}

div .editor-effect-group {
    align-items: center;
    display: flex;
    justify-self:right;
    flex-direction: column;
    background-color: #e9bd96;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    height: stretch;
}

.editable {
    border-width: 1px;
    border-style: solid;
    border-color: #1e404f;
}

.on-root {
    background-color: #ed9530;
}

div .leftmost {
    margin-left: 14px;
    padding-left: 0px;
}

.rightmost {
    margin-right: 14px;
    padding-right: 0px;
}
.preset-label {
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    height: stretch;
    min-width: 120px;
    border-radius: 4px;
}

div .editor-effect-group-led
{
    width: 32px;
    height: 32;
    border-radius: 16px;
    min-width: 32px;
    min-height: 32px;
    margin-top: 6px;
    margin-bottom: 6px;
}

div .editor-vertical-label
{
    padding-left: 6px;
    text-align: left;
}

.editor-console {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-bottom: 18px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    width: 80%;
    border-color: aqua;
    background-color: black;
    color: beige;
    overflow-y: auto;
}


.editor-console-inner {
    padding: 6px;
    text-align: left;
    text-wrap: wrap;
    white-space: pre-line;
}
.editor-button {
    padding: 4px;
    margin: 6px;
    font-family: sans-serif;
    font-size: 14px;
    color: #1e404f;
    border-radius: 4px;
    width: fit-content;
    background-color: #e9bd96;
}

.editor-button:active
{
    background-color: #cc2132;
    border-color: rgba(0, 0, 0, 255);
}

.editor-button[disabled] {
    border: 0px;
    padding: 4px;
    margin: 6px;
    font-family: sans-serif;
    font-size: 14px;
    color: #1e404f;
    border-radius: 4px;
    width: fit-content;
    background-color: #1e404f;
}

.editor-fxprogram-freezable {
    background-color: #e6692a;
}

.editor-main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 860px;
    min-width: 860px;
    height: 100%;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #ed9530;
}

.editor-save-dialog-outer {
    display:block;
    position: absolute;

    height:fit-content;
    width: fit-content;
    left: 50%;
    top: 25%;
    
}

.editor-save-dialog-inner {
    position: relative;
    display:flex;      
    flex-direction: row;
    left: -50%;
    top: -50%;
    background-color: #cc2132;
    height:fit-content;
    width: fit-content;
    border-radius: 4px;
    border-style: solid;
    border-color: #1e404f;
    border-width: 2px;
    box-shadow: 0px 0px 5px 5px black;

}

.editor-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.editor-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.editor-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e404f;
  -webkit-transition: .2s;
  transition: .2s;
}

.editor-param-slider
{
    width: stretch;
}

.editor-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #e9bd96;
  -webkit-transition: .2s;
  transition: .2s;
}

.editor-text-selectable:checked+label
{
    color: #e6692a;
}

.editor-text-selectable
{
    display: none;
}

input:checked + .editor-slider {
  background-color: #cc2132;
}

input:focus + .editor-slider {
  box-shadow: 0 0 1px #988a20;
}

input:checked + .editor-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}


.editor-slider.round {
  border-radius: 24px;
}

.editor-slider.round:before {
  border-radius: 50%;
}

.editor-toggle {
    display: flex;
}

.editor-toggle-label {
    text-align: center;
}

img.editor-routing {
    width: 96px;
    height: 96px;
    padding-right: 14px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    align-self: center;
}

.parameter-slider-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 56px;
    background-color: #e9bd96;
    border-radius: 4px;
    padding: 0px;
}

.parameter-slider-container-inner
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.parameter-slider-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: none;
}

.parameter-slider-name 
{
    position: relative;
    padding-left: 10px;
    align-self: center;
    vertical-align:bottom;
    flex-grow: 1;  
    height: 100%;
    font-weight:600;
}

.parameter-slider-displayvalue
{
    padding-right: 10px;
    position: relative;
    align-self: center;
}

.parameter-slider-bar
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: stretch;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 4px;
    background-color: #cc2132;
}

#volume {
    accent-color: #1e404f;
    background-color: #e9bd96;
}

progress::-moz-progress-bar { 
   background-color: rosybrown;
   border-radius: 15px;
}

progress::-webkit-progress-bar {
   background-color: #efefef;
   border-radius: 15px;
}

progress::-webkit-progress-value {
   background-color: rosybrown;
   border-radius: 15px;
}