* {
    font-family: 'Courier New', Courier, monospace;
}

h4 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 800;
}

table {
    border-style: solid;
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    border: 1px;
    border-collapse: collapse;
}
th {
    font-weight: 600;
    background-color: rgb(197, 197, 197);
    margin: 0px;
    padding: 2px;
    border-style: solid;
    border: 1px;    
    text-align: left;
}

tr {
    border-style: solid;
    margin: 0;
    padding: 0;
    border: 1px;
    border-collapse: collapse;
}

td {
    border: 1px;
    padding: 2px;
    margin: 0;
    border-style: solid;
    border-collapse: collapse;
}

.reference-description {
    min-width: 500px;
    max-width: 500px;
}

.reference-bytearray {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.reference-bytevalue {
    font-family: monospace;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    margin: 4px;
    border-radius: 4px;
    background-color: rgb(199, 235, 210);
}

.reference-example-title {
    margin-top: 8px;
    margin-left: 10px;
}

.reference-theader {
    font-weight: 700;
    background-color: rgb(197, 197, 197);
}
.reference-command {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 20px;
}

.reference-cmd-description {
    font-size: 13;
    margin-bottom: 10px;
    margin-left: 10px;
}